option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 20.9.0
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /audio-cache: audio-cache
commands:
  01_install_dependencies:
    command: "npm ci --only=production"
  02_build_application:
    command: "npm run build"