option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
    Availability Zones: Any 2
  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Unit: Percent
    UpperThreshold: 80
    LowerThreshold: 20
    ScaleUpIncrement: 1
    ScaleDownIncrement: -1
    UpperBreachScaleIncrement: 1
    LowerBreachScaleIncrement: -1
    BreachDuration: 5
    Period: 5
    EvaluationPeriods: 1
    Statistic: Average
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elbv2:loadbalancer:
    IdleTimeout: 300